
PORT=8083
USER_SERVICE_URL=http://localhost:8081
MOVIE_SERVICE_URL=http://localhost:8082
UPSTREAM_TIMEOUT_MS=5000
CORS_ORIGINS=*
MONGODB_URI=mongodb://localhost:27017/movie_db
RABBITMQ_URL=amqp://localhost:5672
